<div id="navbar">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}" >Дневник тренировок</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Мои тренировки</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a href="{{ path('app_workout_new') }}" class="dropdown-item">Создать тренировку</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_workout_index') }}" class="dropdown-item">Все тренировки</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Упражнения</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a href="{{ path('app_exercise_new') }}" class="dropdown-item">Создать упражнение</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_exercise_index') }}" class="dropdown-item">Все упражнения</a>
                        </div>
                    </li>
                </ul>
                {#  <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Reports</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
                #}
            </div>
        </div>
    </nav>
</div>


