{% extends 'base.html.twig' %}

{% block title %}Workout index{% endblock %}

{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workout in workouts %}
            <tr>
                <td>{{ workout.createdAt.format('Y.m.d') }}</td>
                <td>{{ workout.duration }}</td>
                <td>{{ workout.id }}</td>
                <td>
                    <a href="{{ path('/workout/{id}', {'id': workout.id}) }}">show</a>
                    <a href="{{ path('/workout/{id}/edit', {'id': workout.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
